<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" 
version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

   <filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
        <servlet-name>employeeViewServlet</servlet-name>
        <servlet-class>pt.francisco.servlet.EmployeeViewServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>employeeViewServlet</servlet-name>
        <url-pattern>/content/EmployeeView.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>createEmployeeViewServlet</servlet-name>
        <servlet-class>pt.francisco.servlet.CreateEmployeeViewServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>createEmployeeViewServlet</servlet-name>
        <url-pattern>/content/CreateEmployeeView.jsp</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>salaryViewServlet</servlet-name>
        <servlet-class>pt.francisco.servlet.SalaryViewServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>salaryViewServlet</servlet-name>
        <url-pattern>/content/SalaryView.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>createSalaryViewServlet</servlet-name>
        <servlet-class>pt.francisco.servlet.CreateSalaryViewServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>createSalaryViewServlet</servlet-name>
        <url-pattern>/content/CreateSalaryView.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>userManagementViewServlet</servlet-name>
        <servlet-class>pt.francisco.servlet.UserManagementViewServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>userManagementViewServlet</servlet-name>
        <url-pattern>/content/UserManagementView.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>createUserViewServlet</servlet-name>
      <servlet-class>pt.francisco.servlet.CreateUserViewServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>createUserViewServlet</servlet-name>
        <url-pattern>/content/CreateUserView.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>welcomeUserServlet</servlet-name>
      <servlet-class>pt.francisco.servlet.WelcomeUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>welcomeUserServlet</servlet-name>
        <url-pattern>/content/welcome-user.jsp</url-pattern>
    </servlet-mapping>
    
    
</web-app>
